.App {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  text-align: center;
  background-color: #8100f1;
}

.App-header {
  background-color: #282c34;
  grid-column: 1 / span 3;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #282c34;
  grid-column: 1 / span 3;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.content {
  grid-column: 2;
  grid-row: 2;
  background-color: white;
}

.content > div{
  padding-bottom: 2rem;
  border-bottom: solid black 1px;
}

#dzis{
  background-color: lawngreen;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
}
#jutro{
  background-color: #ffea00;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
}
#pojutrze{
  background-color: orange;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
}

.App-link {
  color: #61dafb;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

th, td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #eaeaea;
}

td:first-child {
  border-left: 1px solid #ccc;
}

td:last-child {
  border-right: 1px solid #ccc;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
